button{
    /* Rectangle 172 */

box-sizing: border-box;

/* position: absolute; */
width: 311px;
height: 50px;

background: #FFC0CB;
border: 4px solid #000000;
box-shadow: 4px 4px 0px #000000;
}

.link{
    /* Rectangle 172 */

box-sizing: border-box;

/* position: absolute; */
width: 311px;
height: 50px;

background: #F2C00F;
border: 4px solid #000000;
box-shadow: 4px 4px 0px #000000;
font-size: 30px;
padding-bottom: 50px;
justify-content: center;
display: flex;
margin-top: 40px;

}
.center {
    position: relative;
width: 390px;
height: 353px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 560px;

background: #FFFFFF;



  }

  body {
    margin: 0;
    padding: 0;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .button {
    margin: 5px 0;
    /* additional button styles */
  }
  
  .photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
  }
  
  .photo img {
    margin: 0 20px; /* add some horizontal spacing between images */
    max-width: 100%; /* make sure images don't stretch too far horizontally */
  }
h1{
    font-size: larger;
}
.avatar{
    margin-left: 650px;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: -20px;
}
.name{
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}
